@import "tailwindcss";

@layer utilities {
  .mask-image-fade {
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 6s linear infinite;
  }
}
